h3{
    font-size: 25px !important;
}
.btn-success:hover{
    background-color: royalblue;
}
.btn-success{
    width: 250px;
    height: 70px;
    font-size: 30px;
}
canvas{
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from{box-shadow: 2px 2px 100px orange;}
    to{box-shadow: 2px 2px 100px yellow;}
}
